header {
    background: rgba(99, 61, 22, 0.45);
}
main{
    background: #c8ae8f;
}
.btn-cart {
    background: rgba(145, 89, 32, 0.45);
    height: 60px;
    width: 250px;
    font-size: 29px;
    display: flex;
    justify-content: center;
}
.btn-cart:hover{
    background: rgba(89, 54, 20, 0.45);
}
.product-item h3{
    font-size: 38px;
}
.product-item p {
    font-size: 30px;
}
.by-btn{
    width: 180px;
    height: 30px;
    font-size: 14px;
}
.by-btn:hover{
    background: aliceblue;
}
.product-item  {
    height: 300px;
    width: 300px;
    border: 3px solid #06030c;
    margin-right: 20px;
    margin-top: 20px;
    background: darkgray;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: space-around;
}
.products{
    width: 1100px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}